.clearfix {
  overflow: auto;
  zoom: 1;
}

.badge {
  display: inline-block;
  text-align: center;
  background: #FF571E;
  box-shadow: 0 1px 4px 0 rgba(220, 145, 121, 0.60);
  color: #fff;
  @include font-dpr(11px);
  min-width: 16px;/*no*/
  height: 16px;/*no*/
  line-height: 16px;/*no*/
  border-radius: 16px;
  padding: 0 2px;
  background-clip: padding-box;
}

// 温馨提示
.prompt {
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  @include font-dpr(12px);
  color: #666666;
  background: #FFFAE0;
}

.text-overflow-1 {
  @include text-overflow-1;
}

// 普通长按钮 居中 适用于 预约 成功页 等
.btn-m60 {
  margin: 21px 60px;
}

.d-c {
  color: #FA4A0D!important;
}

.active-label {
  width: 35px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  display: block;
  background-color: #FDE37A;
  color: #333333;
  font-size:11px;/*no*/
  font-weight: normal;
  border-radius: 2px;
  @include border-zero-5(#666){
     border-radius: 4px;
     width: 68px;
     height: 28px;
  };
}

$seckillStatusW: 42px;
div.seckill-content__img__statu {
  width: $seckillStatusW;
  height: $seckillStatusW;
  @include font-dpr(12px);
  line-height: $seckillStatusW;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -#{$seckillStatusW / 2};
  margin-left: -#{$seckillStatusW / 2};
  transform: rotate(-17deg);
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  border-radius: $seckillStatusW;
  background: #414141;
  opacity: 0.7;
}

//重写模版 布局
#app.BQ_TEMPEMPLATE {
  overflow: auto;
  .bq-header {
    position: static;
  }
}

.bq-f-loading {
  width: 100%;
  text-align: center;
  padding: 10px;
  .mint-spinner-fading-circle {
      margin: 0 auto;
  }
}

.no-goods {
  height: 40px;
  line-height: 40px;
  text-align: center;
  @include font-dpr(14px);
}

img {
 &[lazy=loading]{
    width: 100%;
    &:before{
      content: "倍全"
    }
  }
}
.BMap_Marker{
  img{
    width: 100%;
    height: 100%;
  }
}
