// 字体
$font-family-base: PingFang-SC-Regular, "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif!default;
// 背景颜色
$bg-color: #F8F8F8;
// 主题色
$primary: #FFDE3B!default;
// 默认的资源存放路径
$iconImgUrl:'../assets/img';
// border color
$border-color: #D8D8D8!default;
