{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }],
    "stage-3",
    "es2015"
  ],
  "plugins": ["add-module-exports", "transform-runtime", ["component", [{
    "libraryName": "mint-ui",
    "style": true
  }]]],
  "comments": false
}
