.mint-datetime-picker {
  .picker-toolbar {
    height: 48px;
    .mint-datetime-action {
      line-height: 48px;
      @include font-dpr(14px);
      color: #333333;
      &.mint-datetime-confirm {
        background-color: $primary;
      }
    }
  }
  .picker-items {
    padding: 0 30px;
    .picker-item {
      padding: 0;
      @include font-dpr(16px);
      color: #999999;
      i {
        visibility: hidden;
      }
      &.picker-selected {
        color: #333333;
        i {
          visibility:visible;
        }
      }
    }
  }
}
