// Global header
// ----------------------------------
$header-height: 44px;
$header-bg: #ffffff;
$header-bottom-border-color:#D8D8D8;
$header-padding: 18px;
$header-title-color: #505050;
// Global button
// ----------------------------------
$button-color:#333333;
